body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: #3D7EAA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3D7EAA, #FFE47A);
    background: linear-gradient(to right, #3D7EAA, #FFE47A);
}
#container {
    margin: 100px auto;
    width:360px;
    background-color: #f7f7f7;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1)
}
h1 {
    background-color: #2980E9;
    color: white;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
}
.fa-plus {
    float: right;
}
input[type='text']{
    width: 100%;
    border: 3px solid transparent;
    color:#2980E9;
    font-size: 18px;
    padding: 13px 13px 13px 20px;
    background-color: #f7f7f7;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: none;
}
input[type='text']::-webkit-input-placeholder, 
input[type='text']::-moz-input-placeholder {
    color: rgb(160, 160, 160);
}
input[type='text']:focus {
    background-color: #fff;
    border: 3px solid #2980E9;
    outline: none;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 18px;
}
li{
    background-color: #fff;
    height: 40px;
    line-height: 40px;
    color:#666;
}
li:nth-child(2n) {
    background-color: #f7f7f7;
}
.complete{
    text-decoration: line-through;
    color: gray;
}
.delete {
    background-color: #e74c3c;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: white;
    width: 0;
	display: inline-block;
	transition: 0.2s linear;
	opacity: 0;
}
li:hover .delete {
	width: 60px;
	opacity: 1.0;
}