/******* TAGS *******/
body{
    background-color: #232323;
    margin: 0;
    padding: 0;
}
h1{
    color:white;
    text-align: center;
    font-size: 2rem;
}
/******* IDs *******/
#container{
    margin:0 auto;
    max-width:600px;
}
#header{
    padding:50px;
    margin: 0 auto;
    background-color: rgb(33, 126, 180);
}
#toolBar{
    margin: 0 auto;
    max-width: 100px;
    padding: 10px;
}
/****** Classes ******/
.square{
    width:30%;
    margin:1.66%;
    padding-bottom: 30%;
    float: left;
    background-color: purple;
    border-radius: 5px;
}
.message{
    width: 50%;
    margin: 1.66%;
    color: white;
}
