<% include layouts/header %>
            <div class="row">
                <div class="col-md-12">
                    <h1><%=campground.name%></h1>
                    <img class="img-rounded img-responsive" src="<%=campground.image%>" alt="<%=campground.name%>">
                    <div>
                        <h4><%=campground.description%></h4>
                    </div>
                </div>
            </div>
<% include layouts/footer %>